.head1{
    width: calc(100vw-10px);
    min-height: 550px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.cabezera {
    width: 100vw;
    margin: 0;
    background-color: #1E1D2B;
    padding: 0 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

#FullWebsite {
    box-sizing: border-box;
    overflow: auto;
    text-align: left; /* Por defecto, el texto se alinea a la izquierda */
}

/* hacer que sea responsivo */
@media screen and (max-width: 768px) {
    #FullWebsite {
        text-align: center; /* Centra el texto horizontalmente solo en dispositivos móviles */
    }
}
.boton {
    background-color: #ff702a; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 6px 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen externo */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    border-radius: 8px; /* Borde redondeado */
}
