#parradox {
    text-align: center;
    color: aliceblue;
    font-size: 2.5em;
}

.tix1 #timn {
    color: #ff702a;
    font-size: 1.3em;
    text-align: center;
}

#fod div p {
    margin: 0px;
}

#fod div h6 {
    margin: 0px;
    font-size: 1.1em;
}
.dinero{
    color: #ff702a;
}

#fod {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#fod div img {
    height: 50%; /* Ancho de imagen para dispositivos más grandes */
}

#food-menu div:nth-child(2) div {
    width: 30%;
    max-width: 491px;
    aspect-ratio: 1/1;
    min-width: 256px;
    min-height: 256px;
    background-image: url(../img/fondomenu.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#food-menu div:nth-child(2) div i {
    width: 20%;
    height: 20%;
    position: absolute;
    background-image: url(../img/naranja.png);
    background-size: cover;
    font-size: 200%;
    top: 0;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* hacer que sea responsivo */
@media screen and (max-width: 776px) {
    #food-menu div:nth-child(2) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #food-menu div:nth-child(2)  {
        width: 100%; /* Ancho de los divs con imágenes en dispositivos móviles */
    }

    #fod div img {
        width: 8em; /* Ancho de imagen para dispositivos más grandes */
    }
}